i {

}

#topPart {
    background: rgb(255, 255, 255);
    text-align: left;
    font-size: 35px;
    top: 0;
    padding: 1px 0 0 15px;
    border-bottom: solid 3px #333333;
    
}

body {
    background: linear-gradient(to right, slateblue, lightblue);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0%;
    margin: 0%;
    top: 0;
    width: 100%;
    color: white;
}

h1 {
    font-size: 100px;
    margin: 15px;
}

#copyright {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
}

a {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 3);
    background-color: white;
    text-decoration: none;
    color: slateblue;
    display: flex; align-items: center;
}

a:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 3);
    background-color: gray;
    border-radius: 100%;
    padding: 5px;
    text-decoration: none;
    color: slateblue;
    display: flex; align-items: center;
}

img {
    border-radius: 100%;
    height: 300px;
    aspect-ratio: 1/1;
}

img:hover {
    animation-name: frame0;
    animation-duration: 0.5s;
}

#firstPart {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 100px; /* Añadir espacio para los botones */
}

#telegram {
    bottom: 10px; 
    left: 10px; 
    max-width: 60px; 
    position: fixed;
    padding: 10px;
    background-color: white;
    border-radius: 25%;
    animation-name: In;
    animation-duration: 0.2s;
    transition: 0.2s;
    z-index: 2; /* Asegurar que esté por encima de otros elementos */
}

#telegram:hover {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    scale: 0.95;
    animation-name: Out;
    animation-duration: 0.2s;
    transition: 0.2s;
}

#title {
    font-size: 35px;
    background-color: gray;
    position: relative;
    margin: 15px;
    text-align: left;
}

#twitter {
    bottom: 10px; 
    left: 90px; 
    max-width: 50px; 
    max-height: 50px; 
    position: fixed;
    padding: 10px;
    border-radius: 25%;
    animation-name: Out;
    animation-duration: 0.2s;
    transition: 0.2s;
    z-index: 2; /* Asegurar que esté por encima de otros elementos */
}

#twitter:hover {
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    padding: 10px;
    scale: 0.95;
    animation-name: In;
    animation-duration: 0.2s;
    transition: 0.2s;
}

@keyframes In {
        from {scale: 1;}
        to {scale: 0.95;}
    }

@keyframes Out {
        from {scale: 0.95;}
        to {scale: 1;}
    }

    /*frame0 */
@keyframes frame0 {

}

